<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script type=text/javascript>
    $(document).ready(function () {
        $(document).on('click', '#submit', function () {
            const age = $('#age').val();
            const address = $('#address').val();
            const country = $('#country').val();
            const data = JSON.stringify({age: age, address: address, country_origin: country});

            return $.ajax({
                type: 'POST',
                async: false,
                data: data,
                url: "http://localhost:5000/api/Details",
                success: function(data) {
                    $('#message').text('User details created successfully!!!');
                    $('#json').text(JSON.stringify(data));
                },
                error: function (data) {
                    $('#message').text('Error while creating user details!!!');
                    $('#json').text(JSON.stringify(data));
                }
            });
        });
    });
    </script>
</head>
<body>

<h3>Details Form</h3>
<form>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" aria-describedby="agelHelp"
               placeholder="Enter Age">
        <small id="agelHelp" class="form-text text-muted">Enter your age please</small>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="User's Address..">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" placeholder="User's country..">
    </div>
    <button type="button" id="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<br/>
<div>
    <strong id="message"></strong>
    <pre id="json"></pre>
</div>

</body>
</html>